* {
  box-sizing: border-box;
}

body {
  margin: 0;  
}

/* Begin Nav */



.header {
  /* background-color: #b7b5b5; */
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  /* text-align: center; */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  color: #FFF;
}

.projectTitle {
  margin-right: auto;
  padding: 20px;
}

.subTitle {
  padding: 30px;
}

.troll {
  width: 80px;
  height: 80px;
  margin-top: 15px;
}
/* End Nav */

/* Begin Form */
/* Create three equal columns that floats next to each other */
.columnInput {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.rowInput:after {
  content: "";
  display: table;
  clear: both;
}

.rowInput {
  margin-top: 50px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .columnInput {
    width: 100%;
  }
}

.topMemeInput {
  width: 100%;
  height: 60px;
  padding: 30px 30px;
  border-radius: 10px;
}

.bottomMemeInput {
  width: 100%;
  height: 60px;
  padding: 30px 30px;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  padding: 30px;
}

.memeButton {
  width: 100%;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  /* height: 40px; */
  border-radius: 10px;
  padding: 50px;
  color: white;
  display: flex;
  justify-content: center;
}

.picsIcon {
  max-width: 40px;
  margin-left: 30px;
  margin-top: 10px;
}



/* End Form */